<nav class="navbar navbar-nav d-block bg-white h-100 p-0 shadow" id="sidenav-main">
  <div class="w-100 d-block h-25">
    <a href="javascript:void(0);" class="nav-item nav-link" (click)="changeTab(0)">
      <div class="pl-4">
          <mdb-icon fas icon="long-arrow-alt-left" class="text-gray"></mdb-icon>
        <span class="pl-4">Back</span>
      </div>
    </a>
  </div>
  <!-- User -->
  <ul class="nav d-block w-100 mt-5 pt-5">
    <li class="nav-item" (click)="changeTab(1)">
      <a href="javascript:void(0);" class="nav-link" [ngClass]="{'active': tab == 1}">
        <div class="text-center">
            <mdb-icon fas icon="times" class="text-danger"></mdb-icon>
          <span >To Reject</span>
        </div>
      </a>
    </li>
    <li class="nav-item" (click)="changeTab(2)">
      <a href="javascript:void(0);" class="nav-link" [ngClass]="{'active': tab == 2}">
        <div class="text-center ">
            <mdb-icon fas icon="ellipsis-h" class="text-warning"></mdb-icon>
          <span >To Review</span>
        </div>
      </a>
    </li>
    <li class="nav-item" (click)="changeTab(3)">
      <a href="javascript:void(0);" class="nav-link" [ngClass]="{'active': tab == 3}">
        <div class="text-center ">
            <mdb-icon fas icon="check" class="text-success"></mdb-icon>
          <span >To Accept</span>
        </div>
      </a>
    </li>
  </ul>
</nav>