<div class="background-gradient">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-6 mx-auto">
        <div class="card shadow">
          <div class="my-5 mx-4">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input type="email" class="form-control"  formControlName="email" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password"  formControlName="password" placeholder="Password">
              </div>
              <div class="form-group mt-2 mb-5">
                <button class="btn btn-primary btn-block" type="submit">Login</button>
              </div>
            </form>
            <div class="d-flex justify-content-between">
              <a href="#" class="text-primary">Register</a>
              <span class="text-right">Forgot Password?</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>