<div class="modal-content">
    <div class="modal-header py-2">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-white" id="myModalLabel"><strong>{{content.heading}}</strong></h4>
    </div>
    <div class="modal-body" style="white-space: pre-line;">
        <ng-container *ngIf="(content.imageFront || content.imageBack) && !content.template; else noImg">
            <div class="d-flex row justify-content-center align-items-center">
                <img *ngIf="content.imageFront && !content.template" [src]="content.imageFront" class="mx-2 z-depth-1"
                    [style.width]="'400px'">
                <img *ngIf="content.imageBack && !content.template" [src]="content.imageBack" class="mx-2 z-depth-1"
                    [style.width]="'400px'">
            </div>
            <div class="d-flex row justify-content-center align-items-center mt-4">
                <p>{{ content.description }}</p>
            </div>
        </ng-container>
        <ng-template #noImg>
            <p *ngIf="content.description">{{ content.description }}</p>
            <div *ngIf="content.template" [innerHTML]="content.template"></div>
        </ng-template>

    </div>
    <ng-container *ngIf="content.postiveLabel">
        <div class="modal-footer justify-content-center">
            <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Close"
                *ngIf="content.negativeLabel" (click)="modalRef.hide()"
                mdbWavesEffect>{{ content.negativeLabel}}</button>
            <button type="button" mdbBtn color="primary" class="relative waves-light" *ngIf="content.positiveLabel"
                (click)="onPositiveClick()" mdbWavesEffect>{{ content.positiveLabel}}</button>
        </div>
    </ng-container>

</div>