<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100 text-primary" id="myModalLabel"><strong>{{content.heading}}</strong></h4>
    </div>
    <div class="modal-body" style="white-space: pre-line;">
      <p>{{ content.description }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="light" class="waves-light text-primary round" aria-label="Close" (click)="modalRef.hide()" mdbWavesEffect>{{ content.negativeLabel}}</button>
      <button type="button" mdbBtn color="primary" class="relative waves-light round" (click)="onPositiveClick()" mdbWavesEffect>{{ content.positiveLabel}}</button>
    </div>
  </div>