<div class="row h-100 w-100 m-0">
  <side-bar class="col-2 px-0 slideInLeft animated faster" (changeTabs)="changePage($event)"></side-bar>
  <div class="container col-10 px-0 pt-4 h-100 fadeInUp animated faster" id="scrollbar" [style.overflow-y]="'auto'">
    <ng-container [ngSwitch]="currentPage">
      <ng-container *ngSwitchCase="'reject'">
        <reject-cheques class="w-100"></reject-cheques>
      </ng-container>
      <ng-container *ngSwitchCase="'review'">
        <review-cheques class="w-100"></review-cheques>
      </ng-container>
      <ng-container *ngSwitchCase="'accept'">
        <success-cheques></success-cheques>
      </ng-container>
    </ng-container>
  </div>
</div>