<!--No cheques for reject-->
<div class="d-flex row justify-content-md-center mt-4 mx-1 fadeIn animated faster">
    <ng-container *ngIf="rejectCheques.length < 1; else showReject">
        <div class="d-flex w-75 row justify-content-md-center mt-4">
            <mdb-card [style.minWidth]="'950px'">
                <mdb-card-body class="px-0 ml-4 py-4 h-auto">
                    <div class="text-center my-4">
                        <mdb-icon fas icon="clipboard-check" size="4x" class="grey-text"></mdb-icon>
                        <h4 class="mt-4">Hurray! There are currently no cheques pending for rejection!</h4>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
    </ng-container>
    <ng-template #showReject>
        <div class="d-flex w-75 row justify-content-md-center mt-4 mb-4 mx-1">
            <mdb-card class="w-100">
                <mdb-card-header class="bg-white">
                    <div class="row justify-content-md-between align-items-center">
                        <h5 class="m-0 pl-2 ">To Reject</h5>
                    </div>
                </mdb-card-header>
                <mdb-card-body class="m-0 p-0" [style.maxHeight]="'350px'">
                    <datatable buttonText="View Notice" buttonColor="primary" buttonWidth="120px"
                        (clicked)="onViewNotice($event)" [config]="rejectTableConfig" (rowSelect)="onRowSelect($event)">
                    </datatable>
                </mdb-card-body>
            </mdb-card>
        </div>

        <!--button actions-->
        <div class="d-flex w-75 row justify-content-end mt-2 mb-4">
            <button mdbBtn class="round" [style.height]="'40px'" type="button" color="warning" size="sm" mdbWavesEffect
                (click)="onReview()" [disabled]="selectedRows.length == 0">
                <mdb-icon fas icon="ellipsis-h" size="lg" class="mr-1"></mdb-icon>Move To Review<span
                    *ngIf="selectedRows.length > 0">({{ selectedRows.length }})</span>
            </button>
            <button mdbBtn class="round mr-0" [style.height]="'40px'" type="button" color="danger" size="sm"
                mdbWavesEffect (click)="onReject()" [disabled]="selectedRows.length == 0">
                <mdb-icon fas icon="times" size="lg" class="mr-1"></mdb-icon>Confirm Reject<span
                    *ngIf="selectedRows.length > 0">({{ selectedRows.length }})</span>
            </button>
        </div>
        <!-- button actions end -->
    </ng-template>
</div>